body,h1 {
  font-family: "Raleway", sans-serif;
}

html { 
    background: url("../logo.png") no-repeat right 20% center fixed; 
    -webkit-background-size: auto 40%;
    -moz-background-size: auto 40%;
    -o-background-size: auto 40%;
    background-size: auto 40%;
    background-color: #222222;
  }

.tooltip,
.display-container {
  position: relative;
}

.center{
    text-align: center !important;
}

.display-container:hover .display-hover {
  display: block;
}
.display-container:hover span.display-hover {
  display: inline-block;
}

.animate-opacity {
  animation: opac 0.8s;
}

.text-white,
.hover-text-white:hover {
  color: #fff !important;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.padding-large {
  padding: 12px 24px !important;
}

.xlarge {
  font-size: 24px !important;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.jumbo {
  font-size: 64px !important;
}

.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

.border-grey,
.hover-border-grey:hover,
.border-gray,
.hover-border-gray:hover {
  border-color: #9e9e9e !important;
}
.display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
}

.button {
    border: 1px solid white;
    border-radius: 3px;
    color: #20232a;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: background .3s,color .3s;
}
.button:hover {
    color: #20232a;
    background-color: white;
    text-decoration: none;
}